ConfigSpace>=0.4.17
pyyaml
networkx==2.6.3
numpy
torch>=1.9.0
torchvision>=0.10.0
fvcore==0.1.5.post20210630
pytest==6.2.4
lightgbm==3.2.1
ngboost==0.3.11
xgboost==1.4.2
emcee==3.1.0
pybnn==0.0.5
grakel
pyro-ppl
scipy

# additional from setup.py prev
tqdm==4.61.1
scikit-learn==1.0.2
scikit-image==0.19.2
pytorch-msssim==0.2.1
tensorwatch==0.9.1

# from zerocost
transforms3d
gdown
